<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BDDPAth" value="C:\Users\Thomas\Desktop\C#\Projet_Tutore\serie-club\src\Persistance\SerieClubClf.mdf"/>
    <add key="ImagesPath" value="C:\Users\Thomas\Desktop\C#\Projet_Tutore\serie-club\src\Projet.Presentation.Forms\Images"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>